<nav role="navigation" aria-label="main navigation">
  <a href="/"> {{ site.title }} </a>
  <a href="/cookbooks"> Cookbook </a>
  <a href="/blogposts/"> Articles </a>
  <a href="/til"> TIL </a>
  <a href="/about"> About </a>
</nav>
