---
layout: layouts/base.njk
---

<section>
  <article>
    <h1>{{ title }}</h1>
    <p>
      Published on: <time datetime="{{ page.date }}">{{ page.date }}</time>
    </p>
    {{ content | safe }}
  </article>
</section>
