---
layout: layouts/base.njk
---

<article>
  <div >
    <div>
      <div>
        <div>
          <h1>{{ title }}</h1>
          {{ content | safe }}
        </div>
      </div>
    </div>
  </div>
</article>