---
title: Cookbook
layout: layouts/page.njk
---

<h2>Quelques layouts de base</h2>
<section class="list recipe--list">
  {% for layout in collections.layout | reverse %} {% if loop.index0 < 3 %}
  <article class="recipe recipe--list__item">
    <header class="recipe__title">
      {{ layout.data.title }}
    </header>
    <div class="recipe__abstract">
      {{ layout.data.description }}
    </div>
    <footer class="recipe__link">
      <a href="{{ layout.url }}">Lire la recette</a>
    </footer>
  </article>
  {% endif %} {% endfor %}
</section>

<h2>Autres recettes</h2>
<section class="list recipe--list">
  {% for recipe in collections.recipe | reverse %} {% if loop.index0 < 3 %}
  <article class="recipe recipe--list__item">
    <header class="recipe__title">
      {{ recipe.data.title }}
    </header>
    <div class="recipe__abstract">
      {{ recipe.data.description }}
    </div>
    <footer class="recipe__link">
      <a href="{{ recipe.url }}">Lire la recette</a>
    </footer>
  </article>
  {% endif %} {% endfor %}
</section>
